<header class="bg-transparent text-gray-300 font-sans relative">
  <nav class="mx-auto max-w-screen-2xl px-6 z-1">
    <div class="flex h-14 items-center justify-between">
      <a href="#" class="flex items-center gap-2 text-white">
        <img src="Logo.png" alt="" class="size-8" />

        <img src="Title.png" alt="" class="size-8" />
      </a>
      <ul class="hidden md:flex items-center gap-10 text-lg ml-25">
        <li><a href="/" class="hover:text-white">Home</a></li>
        <li><a href="#about" class="hover:text-white">About</a></li>
        <li><a href="#" class="hover:text-white">Docs</a></li>
        @if(userService.user$ | async){
        <li><a href="/dashboard" class="hover:text-white">Dashboard</a></li>
        }
      </ul>
      <!-- </div> -->

      <div class="flex items-center gap-2">
        @if(!(userService.user$ | async)){
        <button
          (click)="openLogin()"
          class="inline-flex cursor-pointer items-center rounded-xl border border-white/10 bg-zinc-900/50 px-3 py-1.5 text-sm font-medium text-gray-100 hover:border-white/20 hover:bg-zinc-800 focus:outline-none focus-visible:ring-2 focus-visible:ring-white/20"
        >
          Log In
        </button>
        <button
          href="#"
          class="inline-flex cursor-pointer items-center rounded-xl bg-white px-3 py-1.5 text-sm font-semibold text-black hover:bg-gray-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-white/20"
        >
          Sign Up</button
        >}@else {
        <button
          (click)="logout()"
          class="inline-flex items-center rounded-xl bg-red-600 cursor-pointer px-3 py-1.5 text-sm font-semibold text-white hover:text-black transition-colors hover:bg-red-300 focus:outline-none focus-visible:ring-2 focus-visible:ring-white/20"
        >
          Log Out
        </button>
        }
      </div>
    </div>
  </nav>
</header>
