<!-- Backdrop -->
@if(drawer.isOpen()){
<div
  class="fixed inset-0 bg-black/40 lg:hidden z-3"
  (click)="drawer.close()"
></div>
}
<!-- Drawer -->
<aside
  class="hidden fixed left-0 top-0 h-full w-80 bg-neutral-300 border-r border-gray-200 px-4 py-5 md:flex flex-col z-4 transition-transform duration-300"
  [ngClass]="{
    'translate-x-0': drawer.isOpen(),
    '-translate-x-full': !drawer.isOpen()
  }"
>
  <!-- 🔹 Your sidebar content goes here -->
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-3 px-2">
      <!-- <div
          class="flex h-10 w-10 items-center justify-center rounded-xl bg-indigo-600 text-white"
        >
      
        </div> -->
      <img src="/Logo.png" alt="" class="size-10" />
      <div class="-translate-y-1">
        <div class="font-semibold leading-tight">Jett</div>
        <div class="text-xs text-gray-500">Deploy with jett</div>
      </div>
    </div>
    <img
      (click)="drawer.close()"
      src="/icons/sidebarb.svg"
      alt=""
      class="cursor-pointer size-10"
    />
  </div>

  <!-- nav links -->
  <nav class="mt-6 space-y-1 text-sm">
    <a
      href="#"
      class="group flex items-center gap-3 rounded-2xl px-3 py-2 hover:bg-gray-100 text-gray-800"
    >
      <span class="flex h-8 w-8 items-center justify-center">
        <img src="/icons/home.svg" alt="" class="p-1" />
      </span>
      <span class="flex-1">Home</span>
    </a>

    <a
      [routerLink]="['/dashboard']"
      fragment="projects"
      class="group flex items-center gap-3 rounded-2xl px-3 py-2 hover:bg-gray-100 text-gray-800"
    >
      <span class="flex h-8 w-8 items-center justify-center">
        <img src="/icons/projectb.svg" alt="" />
      </span>
      <span class="flex-1">Projects</span>
      <span
        class="ml-auto inline-flex h-6 min-w-6 items-center justify-center rounded-full bg-gray-100 px-2 text-xs font-medium text-gray-700"
        >{{ userprojects }}</span
      >
    </a>
    <a
      [routerLink]="['/dashboard']"
      fragment="community"
      class="group flex items-center gap-3 rounded-2xl px-3 py-2 hover:bg-gray-100 text-gray-800"
    >
      <span class="flex h-8 w-8 items-center justify-center">
        <img src="/icons/communityb.svg" alt="" />
      </span>
      <span class="flex-1">Community</span>
      <span
        class="ml-auto inline-flex h-6 min-w-6 items-center justify-center rounded-full bg-gray-100 px-2 text-xs font-medium text-gray-700"
        >{{communityprojects}}</span
      >
    </a>
    <a
      href="#docs"
      class="group flex items-center gap-3 rounded-2xl px-3 py-2 hover:bg-gray-100 text-gray-800"
    >
      <span class="flex h-8 w-8 items-center justify-center text-gray-700">
        <img src="/icons/learn more b.svg" alt="" class="" />
      </span>
      <span class="flex-1">Learn More</span>
    </a>
  </nav>

  <div class="mt-auto pt-6">
    <button
      (click)="logout()"
      class="group w-full cursor-pointer flex items-center gap-3 rounded-2xl px-3 py-2 hover:bg-gray-100 text-gray-800"
    >
      <!-- <span
        class="flex h-8 w-8 items-center justify-center rounded-lg bg-white text-gray-700 shadow-sm ring-1 ring-gray-200"
      > -->
        <img src="/icons/logout.svg" alt="" class="size-8" />
      <!-- </span> -->
      <span class="flex-1 text-lg text-left">Logout</span>
    </button>

    <div class="mt-4 flex items-center gap-3 rounded-2xl px-3 py-2">
      <img
        [src]="user.user.avatar ? user.user.avatar : '/icons/avatar.svg'"
        alt=""
        class="h-8 w-8 rounded-full"
      />
      <div class="text-lg font-semibold text-gray-600">
        {{ user.user.name }}
      </div>
    </div>
  </div>
</aside>
