@import "tailwindcss";
@import "@angular/cdk/overlay-prebuilt.css";

@theme {
  --color-p1: #9368b7;
  --color-p2: #e8d7ff;
  --color-p3: #99e1d9;
  --color-p4: #0d324d;
  --color-p5: hsl(240, 5.9%, 10%);
  --color-p6: hsl(0, 0%, 98%);
  --color-logo: #67d4e9;

  --breakpoint-sm680: 680px;
  --breakpoint-xs: 380px;
}

@layer utilities {
  .gc {
    @apply absolute rounded-full mix-blend-hard-light z-0;
  }
  .gc1 {
    @apply bg-radial from-p2/50 to-p1/50 w-3/5 top-[50vh] aspect-square;
  }
  .gc2 {
    @apply bg-radial from-p2/50 to-p3/50 w-2/5 top-[50vh] left-2/3 aspect-square;
  }
  .gc3 {
    @apply bg-radial from-p2/50 to-pink-300/50 w-4/12 top-[20vh] left-2/3 aspect-square;
  }
  .interactive {
    @apply absolute rounded-full bg-radial from-p2/50 to-p2/20 w-1/5 aspect-square mix-blend-color-dodge z-0;
  }
  .deploy {
    @apply bg-gradient-to-r from-white to-cyan-400 transform transition-colors duration-1000 hover:from-cyan-400 hover:to-white focus:ring-4 focus:ring-cyan-400/50 focus:outline-none cursor-pointer text-black py-2 px-4;
  }
  .label {
    @apply absolute text-gray-500 py-2 px-4 text-sm transition-all -translate-y-10 -translate-x-5 peer-placeholder-shown:translate-0 peer-placeholder-shown:text-sm peer-focus:-translate-y-10 peer-focus:-translate-x-2 peer-focus:text-xs peer-focus:text-cyan-200 cursor-text;
  }
  .shadowup {
    filter: drop-shadow(0 -5px 20px rgba(51, 153, 51, 1));
  }
  .url {
    @apply block w-full bg-transparent border-4 border-white rounded-4xl text-lg px-4 focus:outline-none focus:border-cyan-200 py-1;
  }
  .card {
    @apply bg-black text-center rounded-2xl relative;
  }
  .card::after,
  .card::before {
    @apply absolute h-full w-full top-1/2 left-1/2 p-2 rounded-2xl bg-conic from-red-600 to-blue-600;
  }
  .card::before {
    @apply blur-2xl opacity-80;
  }
  .moveInCircle {
    transform-origin: 10% 10%;
    animation: moveInCircle 30s linear infinite;
    will-change: transform;
  }
  .moveVertical {
    animation: moveVertical 30s ease-in-out infinite;
    will-change: transform;
  }
  .moveHorizontal {
    animation: moveHorizontal 30s ease-in-out infinite;
    will-change: transform;
  }
  body::selection {
    @apply bg-purple-300;
  }
  .dialog-panel {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .repos-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .repos-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* keeps it minimal */
  }

  .repos-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 9999px; /* fully rounded */
    transition: background-color 0.2s ease;
  }

  .repos-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  /* Hide default browser clear (for <input type="search"> only) */
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }
}
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(-30%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-20%);
  }
}

html{
  scroll-behavior: smooth;
}
