# Ignore dependencies
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Ignore build outputs
dist
build

# Ignore environment and local config
.env
.env.local
.env.*.local

# Ignore IDE / editor stuff
.vscode
.idea
*.swp

# Ignore Docker-related files
Dockerfile
.dockerignore
